-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'USER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isApproved" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Category" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Product" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "price" DOUBLE PRECISION,
    "image_url" TEXT,
    "is_featured" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "categoryId" INTEGER,
    "highlights" TEXT,
    "ingredients" TEXT,
    "nutrition_info" TEXT,
    "package_type" TEXT,
    "shelf_life" TEXT,
    "weight" TEXT,
    "gallery" JSONB,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductImage" (
    "id" SERIAL NOT NULL,
    "productId" INTEGER NOT NULL,
    "url" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProductImage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SiteSettings" (
    "id" SERIAL NOT NULL,
    "hero_title" TEXT,
    "hero_subtitle" TEXT,
    "hero_image_url" TEXT,
    "about_title" TEXT,
    "cta_subtitle" TEXT,
    "cta_title" TEXT,
    "about_highlight_1_desc" TEXT,
    "about_highlight_1_title" TEXT,
    "about_highlight_2_desc" TEXT,
    "about_highlight_2_title" TEXT,
    "about_highlight_3_desc" TEXT,
    "about_highlight_3_title" TEXT,
    "about_highlight_4_desc" TEXT,
    "about_highlight_4_title" TEXT,
    "about_image_url" TEXT,
    "about_paragraph1" TEXT,
    "about_paragraph2" TEXT,
    "footer_subtext" TEXT,
    "footer_text" TEXT,
    "hero_badge_text" TEXT,
    "hero_customers_label" TEXT,
    "hero_flavors_label" TEXT,
    "hero_years_label" TEXT,
    "navbar_logo" TEXT,
    "products_subtitle" TEXT,
    "products_title" TEXT,
    "cta_image_url" TEXT,
    "cta_primary_href" TEXT,
    "cta_primary_label" TEXT,
    "cta_badge_text" TEXT,
    "about_badge" TEXT,
    "navbar_brand_image" TEXT,
    "show_company_text" BOOLEAN NOT NULL DEFAULT true,
    "footer_email" TEXT,
    "footer_phone" TEXT,
    "privacy_policy" TEXT,
    "social_facebook" TEXT,
    "social_instagram" TEXT,
    "social_twitter" TEXT,
    "terms_conditions" TEXT,

    CONSTRAINT "SiteSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AboutPage" (
    "id" SERIAL NOT NULL,
    "hero_badge" TEXT,
    "hero_title" TEXT,
    "hero_paragraph1" TEXT,
    "hero_paragraph2" TEXT,
    "hero_image_url" TEXT,
    "value_1_icon" TEXT,
    "value_1_title" TEXT,
    "value_1_desc" TEXT,
    "value_2_icon" TEXT,
    "value_2_title" TEXT,
    "value_2_desc" TEXT,
    "value_3_icon" TEXT,
    "value_3_title" TEXT,
    "value_3_desc" TEXT,
    "value_4_icon" TEXT,
    "value_4_title" TEXT,
    "value_4_desc" TEXT,
    "milestone_1_year" TEXT,
    "milestone_1_title" TEXT,
    "milestone_1_desc" TEXT,
    "milestone_2_year" TEXT,
    "milestone_2_title" TEXT,
    "milestone_2_desc" TEXT,
    "milestone_3_year" TEXT,
    "milestone_3_title" TEXT,
    "milestone_3_desc" TEXT,
    "milestone_4_year" TEXT,
    "milestone_4_title" TEXT,
    "milestone_4_desc" TEXT,
    "milestone_5_year" TEXT,
    "milestone_5_title" TEXT,
    "milestone_5_desc" TEXT,
    "team_1_name" TEXT,
    "team_1_role" TEXT,
    "team_1_image" TEXT,
    "team_2_name" TEXT,
    "team_2_role" TEXT,
    "team_2_image" TEXT,
    "team_3_name" TEXT,
    "team_3_role" TEXT,
    "team_3_image" TEXT,
    "stat_years" TEXT,
    "stat_flavors" TEXT,
    "stat_countries" TEXT,
    "stat_customers" TEXT,
    "timeline_heading" TEXT,
    "timeline_subheading" TEXT,

    CONSTRAINT "AboutPage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContactPage" (
    "id" SERIAL NOT NULL,
    "hero_badge" TEXT,
    "hero_title" TEXT,
    "hero_subtitle" TEXT,
    "card_1_icon" TEXT,
    "card_1_title" TEXT,
    "card_1_line1" TEXT,
    "card_1_line2" TEXT,
    "card_2_icon" TEXT,
    "card_2_title" TEXT,
    "card_2_line1" TEXT,
    "card_2_line2" TEXT,
    "card_3_icon" TEXT,
    "card_3_title" TEXT,
    "card_3_line1" TEXT,
    "card_3_line2" TEXT,
    "card_4_icon" TEXT,
    "card_4_title" TEXT,
    "card_4_line1" TEXT,
    "card_4_line2" TEXT,
    "map_title" TEXT,
    "map_address" TEXT,
    "faq_1_q" TEXT,
    "faq_1_a" TEXT,
    "faq_2_q" TEXT,
    "faq_2_a" TEXT,
    "faq_3_q" TEXT,
    "faq_3_a" TEXT,
    "faq_4_q" TEXT,
    "faq_4_a" TEXT,

    CONSTRAINT "ContactPage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContactMessage" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "phone" TEXT,
    "productId" INTEGER,
    "productName" TEXT,
    "is_read" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "ContactMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AboutTimeline" (
    "id" SERIAL NOT NULL,
    "year" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "desc" TEXT NOT NULL,
    "order" INTEGER NOT NULL,
    "aboutId" INTEGER NOT NULL,

    CONSTRAINT "AboutTimeline_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Category_name_key" ON "Category"("name");

-- CreateIndex
CREATE INDEX "AboutTimeline_aboutId_order_idx" ON "AboutTimeline"("aboutId", "order");

-- AddForeignKey
ALTER TABLE "Product" ADD CONSTRAINT "Product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "Category"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductImage" ADD CONSTRAINT "ProductImage_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AboutTimeline" ADD CONSTRAINT "AboutTimeline_aboutId_fkey" FOREIGN KEY ("aboutId") REFERENCES "AboutPage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

